<?xml version="1.0"?>
<robot name="yumi" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="yumi_optodaq_sensor" params="parent name *origin">

    <!--joint between {parent} and base-->
    <joint name="${parent}_joint_daq" type="fixed">
      <xacro:insert_block name="origin"/>
      <parent link="${parent}"/>
      <child link="${name}_sensor_link"/>
    </joint>


    <link name="${name}_sensor_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.066" radius="0.035" />
        </geometry>
        <material name="Orange"/>
      </visual>
    </link>


  </xacro:macro>

</robot>
